<mat-form-field appearance="outline" [formGroup]="authorsCourseForm">
  <mat-label>Authors</mat-label>
  <mat-chip-list #chipList aria-label="Author selection" formControlName="authors">
    <mat-chip
      *ngFor="let author of authors"
      [selectable]="isSelectable"
      [removable]="isRemovable"
      (removed)="remove(author)"
    >
      {{ author?.name }} {{ author?.lastName }}
      <mat-icon matChipRemove *ngIf="isRemovable">cancel</mat-icon>
    </mat-chip>

    <input
      #chipInput
      matInput
      formControlName="userInput"
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="isAddOnBlur"
      [matAutocomplete]="auto"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="add($event)">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
      {{ option?.name }}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="chipList.errorState">at least one author should be set</mat-error>
</mat-form-field>
