<div class="list" *ngIf="course$ | async as course">
  <div class="scrl-context">
    <mat-card>
      <mat-card-title>
        <h1 class="main-title">
          {{ course?.name | uppercase }}
        </h1>
        <span class="add-title">
          <fa-icon [icon]="faClock"></fa-icon> {{ course?.length | convertTime }}
          <fa-icon [icon]="faCalendarAlt"></fa-icon> {{ course?.date | date: "d MMM, y" }}
        </span>
      </mat-card-title>
      <mat-card-content>{{ course?.description }}</mat-card-content>
    </mat-card>
  </div>
</div>
