.header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "logo . user-entity";
  grid-template-columns: 13.8rem auto 20rem;
  align-items: center;
  justify-items: center;

  .logo {
    grid-area: logo;
    width: 13.8rem;
    height: 3.2rem;
    object-fit: contain;
  }

  app-user-entity {
    grid-area: user-entity;
    color: var(--white);
  }
}
