<mat-form-field appearance="outline" [formGroup]="durationCourseForm">
  <mat-label
    >{{ "courses.add-course.duration" | translate }}
    <span class="mat-label__convert" *ngIf="length.valid">{{ length.value | convertTime }}</span>
  </mat-label>

  <input matInput formControlName="length" />

  <mat-error *ngIf="length.invalid && length.errors.required">{{
    "courses.validator.required" | translate
  }}</mat-error>
  <mat-error *ngIf="length.invalid && length.errors.invalidNumber && !length.errors.required">{{
    "courses.validator.not-number" | translate
  }}</mat-error>
</mat-form-field>
