<div class="courses-list">
  <app-search-form (search$)="onSearchCourses($event)"></app-search-form>

  <button (click)="onAddCourse()" mat-flat-button class="add-course-btn">
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ "courses.button.add" | translate }}
  </button>

  <ng-container *ngIf="coursesList$ | async as coursesList; else loading">
    <div class="list">
      <div class="scrl-context" *ngIf="!!coursesList.length; else emptyList">
        <app-course-item
          *ngFor="let item of coursesList | orderBy: 'date':true; last as isLast"
          [course]="item"
          [isLast]="isLast"
          [formValue]="formValue"
          (deleteButtonClick)="onRemoveCourse($event)"
          (editButtonClick)="onEditCourse($event)"
          (courseItemClick)="onShowCourse($event)"
        ></app-course-item>
      </div>
    </div>
    <mat-card *ngIf="!!coursesList.length">
      <mat-card-content>
        <button *ngIf="loadButton$ | async; else warning" (click)="onLoad()" mat-button>
          {{ "courses.button.load" | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>

<ng-template #warning>
  {{ "courses.warning.no-more" | translate }}
</ng-template>

<ng-template #emptyList>
  <mat-card class="empty-container">
    <mat-card-content>
      {{ "courses.warning.no-data" | translate | uppercase }}
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #loading>
  <div class="list">
    <mat-card class="empty-container loading">
      <mat-card-content>
        {{ "courses.loading.text" | uppercase }}
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
