<div class="courses-list">
  <button mat-flat-button class="add-course-btn">
    <fa-icon [icon]="faPlus"></fa-icon>
    Add course
  </button>

  <ng-container *ngIf="coursesList?.length; else emptyContainer">
    <div class="list">
      <div class="scrl-context">
        <app-course-item
          *ngFor="let item of coursesList; last as isLast"
          [course]="item"
          [isLast]="isLast"
          (deleteButtonClick)="onRemoveCourse($event)"
        ></app-course-item>
      </div>
    </div>
    <mat-card>
      <mat-card-content>
        <button (click)="onLoadBtnClick()" mat-button>
          Load more
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #emptyContainer>
    <div class="list">
      <mat-card class="empty-container">
        <mat-card-content>
          {{ "No data, feel free to add new course" | uppercase }}
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>
